.atom
.buildlog
.DS_Store
.idea
.packages
.dart_tool/
.pub
packages
pubspec.lock
example/fitness/ios/Flutter/flutter_assets
example/fitness/ios/Flutter/flutter_assets/kernel_blob.bin
example/fitness/ios/Flutter/flutter_assets/platform.dill
example/fitness/windows
example/particledesigner/android
example/particledesigner/ios
example/particledesigner/macos
example/particledesigner/web
example/particledesigner/windows
example/fitness/web
example/fitness/macos
example/fitness/ios
example/fitness/android
