.atom
.buildlog
.DS_Store
.idea
.packages
.dart_tool/
.pub
packages
pubspec.lock
examples/fitness/ios/Flutter/flutter_assets
example/fitness/ios/Flutter/flutter_assets/kernel_blob.bin
example/fitness/ios/Flutter/flutter_assets/platform.dill
examples/fitness/windows
examples/particledesigner/android
examples/particledesigner/ios
examples/particledesigner/macos
examples/particledesigner/web
examples/particledesigner/windows
examples/fitness/web
examples/fitness/macos
examples/fitness/ios
examples/fitness/android
